
.body{
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;

    background-color: rgb(103, 127, 235);
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.container{
    position: relative;
    margin-top: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
    background-color: white ;
    width: 40%;
    max-height: 70%;
    border-radius: 1rem;
}